<md-toolbar layout="row" layout-align="center center">


<navbar style="background: white; margin: 10px;">   
  <div flex="100" >
    <img ui-sref="root.home" src="assets/images/watson-world.png" width="40px" ui-sref="root.watson" class="md-raised"  ng-click="homeCtrl.goWatsonAPI()"/>
    <img ui-sref="root.home" src="assets/images/watson.png" width="160px" style="position:relative;top:-5px;"/>
    <div flex="10" layout="column" layout-align="end">IBM.com</div>
  </div>
 </navbar>
       
</md-toolbar>
