/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

html {
  font-family: 'Helvetica Neue', sans-serif;

}


[layout=row] {
  flex-direction: row;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

md-toolbar.md-default-theme {
  background-color: white;
}

section.jumbotron {
  margin-bottom: 30px;
  padding: 1px 30px;
  h1 {
    font-size: 3em;
  }
}

.techs {
  display: flex;
  flex-flow: row wrap;

  md-card {
    width: 30%;

    img.pull-right {
      float: right;
      width: 50px;
    }
  }
}

navbar {
  background: white;
}

.flat {
  box-shadow: none;
}

  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
  }



.md-padding {
  background: #eeeeee;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.hero {
  background: #27c4f3;
  color: white;
  background-image: url(../assets/images/globe.png);
  background-size: 50% auto;
  background-repeat: no-repeat;
  background-position: top right;

  h1 {
    margin-top: 10%;
  }

  .md-button {
    border: 2px solid white;
  }

}

.bk-image {
  background-size: cover;
  height: 100px;
  padding: 0px;
}

.bk-image.one {
  background:  url(../assets/images/1.jpg);
}

.bk-image.two {
  background:  url(../assets/images/2.jpg);
}

.bk-image.three {
  background:  url(../assets/images/3.jpg);
}


a.md-button, .md-button {
  border-radius: 0;
}


md-input-container .md-input {
  border-bottom-width: 2px;
}
md-content {
  .inputs {
    max-width: 500px;

    .md-button {
      background: #27c4f3;
      color: white;
      height: 40px;
      margin: 10px 0 0 0;
    }
  }

  .inputs:nth-child(2) {
    padding-bottom: 0;
  }

  .companies {
    padding-top: 0;
    .md-button {
      margin-top: 0;
      border-radius: 15px;
      text-transform: initial;
      .x {
        font-weight: bold;
        padding: 0 10px;
      }
    }
  }
}

h2 {
color: #084265;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input, md-input-container:not(.md-input-invalid).md-input-focused label {
  border-color: #27c4f3;
  color: #27c4f3;
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
