<!-- NAVBAR -->
<navbar style="background: white; margin: 10px;">
    <div flex="100">
        <img ui-sref="root.home" src="assets/images/watson-world.png" width="40px" class="md-raised" />
        <img ui-sref="root.home" src="assets/images/watson.png" width="160px" style="position:relative;top:-5px;" />
        <!-- <div flex="10" layout="column" layout-align="end">IBM.com</div>-->
    </div>
</navbar>
<!-- NAVBAR END -->


<!-- HERO UNIT -->
<md-content class="md-padding hero">
    <div class="container">
        <div class="row" flex layout="row" layout-align="end">
            <md-button href="https://github.com/watson-developer-cloud/company-insights" class="md-flat">Fork on Github</md-button>
            <md-button href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/ecosystem.html" class="md-flat">Join the Ecosystem</md-button>
        </div>
        <h1>What's your brand's personality?</h1>
        <h4>Test drive the Watson APIs using the Brand Personality App.</h4>
    </div>
</md-content>
<!-- HERO UNIT END  -->

<!-- INPUT AREA -->
<section layout-padding>
    <div class="container">
        <h2 layout-padding>Enter your Twitter handle</h2>
        <md-content md-theme="docs-dark" layout-padding layout-sm="column">
            <div flex layout="row" class="inputs">
                <md-input-container flex>
                    <label>Enter a Twitter handle</label>
                    <input ng-model="homeCtrl.mainCompany" twitter-account type="text"/>
                </md-input-container>
                <md-button ng-click="homeCtrl.analyze()">Analyze</md-button>
            </div>
            <!-- todo: get a better trigger for when to show this section -->
            <div flex layout="row" class="inputs" ng-if="homeCtrl.chartData.length > 0 && !homeCtrl.loading.chart">
                <md-input-container flex>
                    <label>Enter and add handle to compare</label>
                    <input ng-keyup="homeCtrl.validateCompany()" twitter-account ng-model="homeCtrl.companyToCompare" type="text"/>
                    <div ng-messages>
                        <div ng-message ng-show="homeCtrl.existCompany">This Company already exists.</div>
                        <div ng-message ng-show="homeCtrl.invalidCompany">Please enter a Company.</div>
                        <div ng-message ng-show="homeCtrl.limitExceeded">You have exceeded the maximum number of Companies.</div>
                    </div>
                </md-input-container>
                <md-button ng-click="homeCtrl.addCompanyToCompare()">Add</md-button>
            </div>
            <div class="inputs companies" layout-padding>
                <md-chips ng-model="homeCtrl.companiesToCompare" readonly="false"></md-chips>
            </div>
        </md-content>
    </div>
</section>
<!-- INPUT AREA END -->

<!-- PERSONALITY INSIGHTS AREA -->
<md-content class="md-padding">
    <div class="container" ng-if="homeCtrl.chartData.length > 0 && !homeCtrl.loading.chart">
        <h2>Personality Insights</h2>

            <md-card>
                <md-card-content  class="personality-insights" layout="row" layout-align="start center">
                <div flex=70>
                    <bars-chart chart-data="homeCtrl.chartData"></bars-chart>
                </div>
                <div class="personality-insights-labels" flex layout="column" layout-align="space-around end">
                    <div>
                        Openness
                    </div>
                    <div>
                        Conscientiousness
                    </div>
                    <div>
                        Extraversion
                    </div>
                    <div>
                        Agreeableness
                    </div>
                    <div>
                        Emotional range
                    </div>
                </div>
                </md-card-content>
            </md-card>
    </div>
    <div ng-if="homeCtrl.loading.chart" class="container">
      <md-progress-circular style="margin: auto;" md-mode="indeterminate"></md-progress-circular>
    </div>
</md-content>
<!-- PERSONALITY INSIGHTS AREA END -->

<!-- Sentiment Analysis Area -->
<md-content class="md-padding" flex layout="vertical">
  <div class="container" ng-if="homeCtrl.loading.sentiment || homeCtrl.sentiment">
    <h2>Sentiment</h2>
    <div layout="row" layout-wrap ng-if="!homeCtrl.loading.sentiment">
      <md-card flex="30"">
        <md-card-content>
          <p>
            {{ homeCtrl.sentiment.score }}
          </p>
          <p>(Scale is -1 to 1, negative to positive)</p>
        </md-card-content>
      </md-card>
    </div>

    <div ng-if="homeCtrl.loading.sentiment" class="container">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
  </div>
</md-content>
<!-- Sentiment Analysis Area END -->

<!-- NEWS AREA -->
<md-content class="md-padding" flex layout="vertical">
    <div class="container" ng-if="homeCtrl.loading.news || homeCtrl.news.length">
        <h2>News</h2>
        <div layout="row" layout-wrap>
          <md-card flex="30" ng-repeat="news in homeCtrl.news" href="{{news.url}}">
            <img ng-src="{{news.image}}" class="md-card-image">
            <md-card-content>
              <p>
                {{ news.title }}
              </p>
            </md-card-content>
          </md-card>
        </div>

      <div ng-if="homeCtrl.loading.news" class="container">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div>
    </div>
</md-content>
<!-- NEWS AREA END -->
</div>
