<!-- NAVBAR -->
<navbar style="background: white; margin: 10px;">
    <div flex="100">
        <img ui-sref="root.home" src="assets/images/watson-world.png" width="40px" class="md-raised" />
        <img ui-sref="root.home" src="assets/images/watson.png" width="160px" style="position:relative;top:-5px;" />
        <!-- <div flex="10" layout="column" layout-align="end">IBM.com</div>-->
    </div>
</navbar>
<!-- NAVBAR END -->


<!-- HERO UNIT -->
<md-content class="md-padding hero">
    <div class="container">
        <div class="row" flex layout="row" layout-align="end">
            <md-button href="https://github.com/watson-developer-cloud/company-insights" class="md-flat">Fork on Github</md-button>
            <md-button href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/ecosystem.html" class="md-flat">Join the Ecosystem</md-button>
        </div>
        <h1>What's your brand's personality?</h1>
        <h4>Test drive the Watson APIs using the Brand Personality App.</h4>
    </div>
</md-content>
<!-- HERO UNIT END  -->

<!-- INPUT AREA -->
<section layout-padding>
    <div class="container">
        <h2 layout-padding>Enter your Twitter handle</h2>
        <md-content layout-padding layout-sm="column">
            <div flex layout="row" class="inputs">
                <md-input-container flex>
                    <label>Enter a Twitter handle</label>
                    <input ng-model="homeCtrl.mainCompany" twitter-account type="text"/>
                </md-input-container>
                <md-button ng-click="homeCtrl.analyze()" class="maincompany">Analyze</md-button>
            </div>
            <!-- todo: get a better trigger for when to show this section -->
            <div flex layout="row" class="inputs" ng-if="homeCtrl.chartData.length > 0 && !homeCtrl.loading.chart">
                <md-input-container flex>
                    <label>Enter and add handle to compare</label>
                    <input ng-keyup="homeCtrl.validateCompany()" twitter-account ng-model="homeCtrl.companyToCompare" type="text"/>
                    <div ng-messages>
                        <div ng-message ng-show="homeCtrl.existCompany">This Company already exists.</div>
                        <div ng-message ng-show="homeCtrl.invalidCompany">Please enter a Company.</div>
                        <div ng-message ng-show="homeCtrl.limitExceeded">You have exceeded the maximum number of Companies.</div>
                    </div>
                </md-input-container>
                <md-button ng-click="homeCtrl.addCompanyToCompare()">Compare</md-button>
            </div>
            <!-- div class="inputs companies" layout-padding>
                <md-chips ng-model="homeCtrl.companiesToCompare" readonly="false"></md-chips>
            </div -->
        </md-content>
    </div>
</section>
<!-- INPUT AREA END -->

<!-- PERSONALITY INSIGHTS AREA -->
<md-content class="md-padding" ng-if="homeCtrl.chartData.length > 0 && !homeCtrl.loading.chart">
    <div class="container">
        <h2>Personality Insights</h2>
        <md-card>
          <md-card-content  class="personality-insights" layout="row" layout-align="start center">
            <div flex=70>
                <bars-chart chart-data="homeCtrl.chartData"></bars-chart>
            </div>
            <div class="personality-insights-labels" flex layout="column" layout-align="space-around end">
                <div>
                    Openness
                </div>
                <div>
                    Conscientiousness
                </div>
                <div>
                    Extraversion
                </div>
                <div>
                    Agreeableness
                </div>
                <div>
                    Emotional range
                </div>
            </div>
          </md-card-content>
        </md-card>
    </div>
</md-content>
<!-- PERSONALITY INSIGHTS AREA END -->

<!-- Sentiment Analysis Area -->
<md-content class="md-padding" ng-if="homeCtrl.sentiment && !homeCtrl.loading.sentiment">
  <div class="container">
    <h2>Sentiment</h2>
    <md-card>
      <md-card-content  class="sentiment" layout="row" layout-align="start center">
        <div flex=70>
          <bars-chart chart-data="homeCtrl.sentiment"></bars-chart>
        </div>
        <div class="sentiment-labels" flex layout="column" layout-align="space-around end">
          <div>
            Positive
          </div>
        </div>
      </md-card-content>
    </md-card>
  </div>
</md-content>

<!-- Sentiment Analysis Area END -->

<!-- NEWS AREA -->
<md-content class="md-padding" flex layout="vertical" ng-if="homeCtrl.news.length && !homeCtrl.loading.news">
    <div class="container">
        <h2>News <span ng-if="homeCtrl.companiesToCompare.length">for {{homeCtrl.mainCompany}}</span></h2>
        <div layout="row" layout-wrap>
          <md-card flex="30" ng-repeat="news in homeCtrl.news" href="{{news.url}}">
            <img ng-src="{{news.image}}" class="md-card-image">
            <md-card-content>
              <p>
                {{ news.title }}
              </p>
            </md-card-content>
          </md-card>
        </div>
    </div>
</md-content>
<!-- NEWS AREA END -->

<!-- loading spinner -->
<md-content class="md-padding" ng-if="homeCtrl.loading.chart || homeCtrl.loading.sentiment || homeCtrl.loading.news">
  <div class="container">
    <md-progress-circular style="margin: auto;" md-mode="indeterminate"></md-progress-circular>
  </div>
</md-content>
<!-- loading spinner end -->

<!-- error message -->
<md-content class="md-padding" ng-if="!homeCtrl.loading.chart && !homeCtrl.loading.sentiment && !homeCtrl.loading.news && !homeCtrl.chartData && !homeCtrl.news && !homeCtrl.sentiment">
  <div class="container">
    <h2>Ut-oh</h2>
    <p>It looks like we can't find any data for {{homeCtrl.mainCompany}}, maybe try a different twitter handle?</p>
  </div>
</md-content>
